.footer {
  padding: 1rem;
  text-align: center;
  color: #6e7786;
  background-color: #e5e7eb;
  font-size: 0.8rem;
  margin-top: 4rem;
}

.footer a {
  color: #6e7786;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  .footer {
    font-size: 1rem;
  }
}
